<!-- views/products.handlebars -->

<h1>Bem-vindo à nossa loja!</h1>
 {{#if (eq role "admin")}}
    <p>Você é um administrador.</p>
  {{else}}
    <p>Você é um usuário comum.</p>
  {{/if}}
<div>
  {{#each payload}}
    <div>
      <h2>{{this.name}}</h2>
      <p>Category: {{this.category}}</p>
      <p>Price: {{this.price}}</p>
      <button onclick="addToCart('{{this._id}}')">Add to Cart</button>
    </div>
  {{/each}}
  <!-- Exibir lista de produtos aqui -->
</div>
<div>
  {{#if hasPrevPage}}
    <a href="{{prevLink}}">Previous</a>
  {{/if}}
  {{#if hasNextPage}}
    <a href="{{nextLink}}">Next</a>
  {{/if}}
</div>
